.container
	nav.navbar.navbar-default
		.container-fluid

			form.navbar-form.navbar-left(role="search")
				div.form-group
					input.form-control(type="text",ng-model="searchTerm",placeholder="Buscar")
			.navbar-form.navbar-left
				label.btn.btn-primary(ng-model="pc.cheaper", uib-btn-radio="'1'")
					| Menor Preço
				label.btn.btn-primary(ng-model="pc.cheaper", uib-btn-radio="'-1'")
					| Maior Preço
			.navbar-form
				button.btn.btn-default(type="submit",ng-click="pc.search(searchTerm)")
						| Buscar

	.list-group(ng-repeat="product in pc.productList")
		.list-group-item
			img.product-img(ng-src='{{product.img}}', alt='{{product.title}}', image-loaded)
			div
				p
					| {{product.title}}
				P
					| {{pc.Util.convertToReais(product.price)}}
				p
					| {{product.store}}
	uib-pagination(items-per-page="20",direction-links="false",ng-change="pc.search(searchTerm)",total-items="pc.totalItems",ng-model="pc.currentPage")