.container
	nav.navbar-default
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle(href="#",data-toggle="dropdown")








	div.list-group(ng-repeat="product in pc.productList")
		div.list-group-item
			img.product-img(ng-src='{{product.img}}', alt='{{product.title}}' image-loaded)
			div
				p
					| {{product.title}}
				P
					| {{pc.Util.convertToReais(product.price)}}
				p
					| {{product.store}}