.container
	nav.navbar.navbar-default
		.container-fluid
			div.navbar-brand(href="#")
				| {{pc.categoryKey}}
			form.navbar-form.navbar-left(role="search")
				div.form-group
					input.form-control(type="text",ng-model="searchTerm",placeholder="Buscar")
			.navbar-form.navbar-left
				label.btn.btn-primary(ng-model="pc.cheaper", uib-btn-radio="'1'")
					| Menor Preço
				label.btn.btn-primary(ng-model="pc.cheaper", uib-btn-radio="'-1'")
					| Maior Preço
			.navbar-form
				button.btn.btn-default(type="submit",ng-click="pc.search(searchTerm)")
						| Buscar

	.list-group(ng-repeat="product in pc.productList")
		.list-group-item.clearfix
			img.product-img(ng-src='{{product.img}}', alt='{{product.title}}', image-loaded)
			a.product-link(target="_blank",ng-href='{{product.link}}')
				span
					| {{product.title}}
				
			span.pull-right.left-space
				button.btn.btn-default(ng-click="pc.addItem(product)")
					| Escolher

			.pull-right
				h4
					|Total: {{pc.Util.convertToReais(product.price)}}
				span
					|Loja: {{product.store}}


	uib-pagination.pagination-sm(items-per-page="5",ng-change="pc.search(searchTerm)",total-items="pc.totalItems",ng-model="pc.currentPage",max-size="10",boundary-links="true" num-pages="pc.pages")