.product-img {
	height:100px !important;
	max-height: 100px !important;
	float: left;
}

.product-search{
	margin-top: 10px;
}

.left-space{
	margin-left: 5px;
}

.product-link{
	color: #555;
}

.product-link:hover{
	color: #555;
}