.container
  div.list-group(ng-repeat="(key, value) in cs.computer.components")
    a.list-group-item(ng-href="product/{{cs.componentDic[key]}}")
      h4.list-group-item-heading 
        | {{key}}
      p.list-group-item-text
        | clique aqui para escolher

